html {
	height: 100%;
	overflow:hidden;
}

body {
	padding: 0px;
	margin: 0px auto 0px auto;
	height: 100%;
}


header {
	position:relative;
	margin:0px auto 0px auto;
	top:20px;
	width:800px;
	height:100px;
    background-color: rgba(47,79,79,0.7);
	z-index: 3;
	border:1px solid gray;
	border-radius:15px;
	box-shadow: 0px 0px 7px #000000;
}

footer {
	background-color: rgba(3,3,3,0.8);
	width: 800px;
	height:55px;
	bottom: 20px;
	position: fixed;
	z-index: 3;
    margin: 0px auto 0px auto;	
	left:0;
	right:0;
	border:1px solid gray;
	border-radius:15px;
	box-shadow: 0px 0px 7px #000000;
}

footer li
{
    float:right;
    list-style-type: none;
	text-align: center;
    padding:0;margin:0 auto;
	background-image:none;
}

footer li a
{
	font-family: "Agency FB", Arial, fantasy;
    color: #e8e8e8; 
    letter-spacing: 1px; 
    font-size: 16px;
    margin: 0 120px 0 auto; 
}

#main{
	position: relative;
	width: 800px;
	min-height: 250px;
	height: 100%;
	margin:0px auto 0px auto;
	left:0;
	right:0;
	top: 40px;
	text-align:left;
	color: white;
	z-index: 3;
}

canvas{
	position:absolute;
	left:0px;
	top:0px;
	z-index: 0;
}

#canvasWeather{
	position:absolute;
	height: 100%;
	width: 100%;
	left:0px;
	top:0px;
	z-index: 2;
	background-color: rgba(2,2,2,0.4);
	-webkit-background-color: rgba(2,2,2,0.4);
}

#canvasImageBg{
	height: 100%;
	width: 100%;
	position: absolute; 
	left: 0px; 
	top: 0px; 
	z-index: 1;
    background-color: rgba(0,0,0,1);
    -webkit-background-color: rgba(0,0,0,1);
}

h1 {	text-shadow: 1px 1px 2px #000000;
	font-family: "Agency FB", Arial, fantasy;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom:0px;
    color: #e8e8e8; 
    letter-spacing: 1px; 
    font-size: 40px
}

/* Modified Content from: Visit http://www.menucool.com/horizontal/javascript-menu for source code and other menu CSS templates */

#sse2
{
    height: 30px;
	width: 800px;
	margin: 0 auto;
    padding: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#sses2
{
    margin:0 auto;
}

#sses2 ul 
{ 
    position: relative;
    list-style-type: none;
    float:left;
    padding:0;margin:0;
}

#sses2 li
{
    float:left;
    list-style-type: none;
    padding:0;margin:0;background-image:none;
}

/*CSS for background bubble*/

#sses2 li.highlight
{
    background:#990;
    top:0px;
    height:30px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    z-index: 1;
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";/*For IE 8*/
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000'); /*For IE 5.5 - 7*/
}

#sses2 li a
{
    height:20px;
    padding-top: 8px;
    margin: 0 20px;/*used to adjust the distance between each menu item. Now the distance is 20+20=40px.*/
    color: white;
    font: normal 12px arial;
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
    position: relative;
    z-index: 2;
}
